body {
    margin: 20px;
    font-family: Courier New, Courier, monospace;
}

.avatar {
    width: 150px;
    border-radius: 50%;
    outline: solid #2b2839 5px;
    transition: 0.5s;
}

.avatar:hover {
    outline: solid #fdca40 5px;
    outline-offset: 10px;
}

.card {
    width: 450px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: left;
    background: #e6e8e6;
    color: #2b2839;
    border-bottom: 6px solid #fdca40;
}

.border-blue {
    border: 1px dotted blue;
}
